 

.navigation {
    box-sizing: border-box;
    padding: 0;
    margin:0;
    overflow-x: hidden;
}

  .activeLink {
    color: #e7332b!important;
    font-weight: 500;
  }

  .navigation header{
   background:rgba(242, 235, 233, 0.6);
   transition: all 0.5s;
   width: 100%;
 }
 .navigation header .h-btn{
   background: #e7332b;
   border-radius: 0;
 }

 @media screen and (min-width:1000px){
    .navigation header .h-btn{
     margin-left:100px;
   }
 }

 .navigation .container {
    max-width: 1238px !important;
    overflow: hidden !important;
}

.navigation header {
    background:rgb(247 243 242);
    transition: all 0.5s;
}

.navigation  .jj:hover {
    color: #E7332B !important;
}

.navigation  header .h-btn {
    background: #E7332B;
    border-radius: 0;
}

@media screen and (min-width: 1000px) {
    .navigation  header .h-btn {
        margin-left: 130px;
    }
}


.navigation  .container {
    max-width: 1238px;
    overflow: hidden;
}


.navigation .heading-title{
    padding: 4rem 0 7rem 0!important;
}

.navigation  header {
    transition: all 0.5s;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navigation  header .h-btn {
    background: #E7332B;
    border-radius: 0;
}

@media screen and (min-width: 1000px) {
    .navigation  header .h-btn {
        margin-left: 100px;
    }
}

.navigation .custom-btn {
    background-color: #E7332B;
    padding: 8px 20px !important;
    /*text-align: center;*/
    color: #ffff !important;
    display: inline-block;

}