/*--CONTACT HEADER--*/
.contact-title {
  background: rgb(247, 243, 242);
  padding-bottom: 7rem;
  padding-top: 7rem;
}

.contact-heading {
  font-size: 24px;
  line-height: normal;
  overflow-y: hidden;
  color: #514949;
}

.contact-heading-2 {
  font-size: 12px;
  line-height: 24px;
  color: #514949;
}

/*--CONTACT US FORM--*/
.contact-form-title {
  font-size: 18px;
  line-height: 38px;
  color: #514949;
}

.contact-form label {
  font-size: 14px;
  line-height: 40px;
  color: #514949;
  opacity: 0.9;
}

.contact-form input,
.contact-form textarea {
  opacity: 0.6;
  border: 1px solid #514949;
}

#inputMessage {
  resize: none;
}

/*--CONTACT FORM BUTTON--*/
.send-message {
  background: #e7332b;
  color: #ffffff;
}

/*--CONTACT INFO SECTION--*/
.contact-info {
  background: #282828;
  color: #ffffff;
}

.info-icon {
  color: #ffb1a5;
}

.contact-info-title {
  line-height: normal;
  font-size: 20px;
  line-height: 38px;
}

@media (min-width: 768px) {
  .contact-heading {
    font-size: 32px;
  }

  .contact-heading-2 {
      font-size: 16px;
  }

  .contact-info-title {
    font-size: 24px;
  }
}
